.App {
  text-align: center;
}

body {
  background-image: url("https://drive.google.com/uc?export=view&id=1l7Dvl8_ii1Id9p2McNc2Em6uCdrgF7Ls");
  background-size: 150%;
}
.b{
  color: rgb(238, 8, 8);
  background-image: url("https://drive.google.com/uc?export=view&id=15J1F_v62CMSphoZl8GMNZ9j7EDWSfBKn");
}
/* DivTable.com */
.divTable {
  display: table;
  max-width: 20em;
  float: right;
  display: flex;
  align-items: center;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}

.divTableCell:nth-child(odd) {
  background-color: gainsboro;
}

.container {
  display: flex;
  opacity: 0.9;
  background-color: white;
  justify-content: center;
}


img {
  height: 14em;
}

input {
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
}
